.idea/
cmake-build-debug/
compile/version
compile/xinu.map
compile/.*
compile/binaries
compile/xinu
compile/xinu.map
compile/xinu.elf
config/config
config/lex.yy.c
config/y.tab.c
include/conf.h
system/conf.c
*.swp
